.product-preview {
  margin-bottom: 35px;
}

.product-preview:hover .product-preview__image {
  filter: none;
}

.product-preview__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: saturate(50%);
}

.product-preview__information {
  margin-top: 25px;
  padding: 10px 0;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.product-preview__description {
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-preview__box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.product-preview__price {
  font-size: 20px;
  font-weight: 500;
}

.product-preview__read-more {
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-preview__read-more:hover,
.product-preview__read-more:active {
  background-color: #d1e5f1;
}
