.products-list {
  margin-top: 60px;
}

.products-list__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.sort__text {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  margin-right: 5px;
}

.sort__icon {
  font-size: 12px;
}
